* {
    margin : 0px;
    padding: 0px;
}

div.Introduction{
    width: 100%;
    height: 800px;
}

div.Introduction-Text{
    color: white;
    font-size: 25px;
}

div.Section-1{
    width: 100%;
    height: 500px;
}